/**
 * Fonts
**/



@font-face {
    font-family: 'manksans-mediumregular';
    src: url('../fonts/manksans-medium-webfont.eot');
    src: url('../fonts/manksans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/manksans-medium-webfont.woff2') format('woff2'),
         url('../fonts/manksans-medium-webfont.woff') format('woff'),
         url('../fonts/manksans-medium-webfont.ttf') format('truetype'),
         url('../fonts/manksans-medium-webfont.svg#manksans-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'manksans-mediummedium_italic';
    src: url('../fonts/manksans-mediumoblique-webfont.eot');
    src: url('../fonts/manksans-mediumoblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/manksans-mediumoblique-webfont.woff2') format('woff2'),
         url('../fonts/manksans-mediumoblique-webfont.woff') format('woff'),
         url('../fonts/manksans-mediumoblique-webfont.ttf') format('truetype'),
         url('../fonts/manksans-mediumoblique-webfont.svg#manksans-mediummedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'manksansitalic';
    src: url('manksans-oblique-webfont.eot');
    src: url('manksans-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('manksans-oblique-webfont.woff2') format('woff2'),
         url('manksans-oblique-webfont.woff') format('woff'),
         url('manksans-oblique-webfont.ttf') format('truetype'),
         url('manksans-oblique-webfont.svg#manksansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'manksansregular';
    src: url('../fonts/manksans-webfont.eot');
    src: url('../fonts/manksans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/manksans-webfont.woff2') format('woff2'),
         url('../fonts/manksans-webfont.woff') format('woff'),
         url('../fonts/manksans-webfont.ttf') format('truetype'),
         url('../fonts/manksans-webfont.svg#manksansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
  background: none;
  margin-top: 30px;
}

.container-24 .grid-24 {
  //width: 960px !important;
  margin: 0;
}

/** Fonts **/
h1, h2, h3 {
	color: #f9aa89;
	margin: 0;
	text-transform: lowercase;
	font-weight: normal;
	font-family: Georgia, "Times New Roman", Serif;
}

#block-block-3 h1 {	/* logo */
  font-family: "manksansregular", sans-serif, Sans;
  font-size: 47px;
    line-height: 49px;
}
h1#page-title {
  //font-weight: 400;
}
h2,
h1#page-title {
	font-style: italic;
	font-size: 31px;
	margin-bottom: 20px;
	margin-top: 10px;
  font-weight: normal;
  text-transform: lowercase;
}

.page-cart h1#page-title {
  font-size: 23px;
  margin: 30px 0 30px 0;
}

a:link, a:visited {
  color: #ffa483;
  text-decoration: none;
  font-weight: normal;
}

a, p, ul, ol, li, img, span, strong, em {
  margin-bottom: 0;
  font-family: Georgia, "Times New Roman", Serif;
  //font-size: 15px;
  line-height: 120%;
  color: #808080;
}

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
  font-family: Georgia, "Times New Roman", Serif;
  font-size: 15px;
  line-height: 120%;
  color: #808080;
  text-align: right;
  text-transform: lowercase;
  font-weight: normal;
  font-style: italic;
}

button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  -moz-box-shadow: #06f 0 0 7px;
  -webkit-box-shadow: #06f 0 0 7px;
  box-shadow: #06f 0 0 7px;
  z-index: 1;
} 

tr.even, tr.odd {
  padding: 0;
}

#block-block-1 p { /* footer */
	margin-bottom: 10px;
}

#zone-header {
  margin-top: 40px;
  margin-bottom: 40px;
}

#region-menu {
  border-bottom: 2px solid #ddd;
  padding-top: 10px;
}
#region-menu .block-block {
  float: left;
}

#region-menu .block-menu-menu-site-menu {
  float: left;
}

#region-menu .block-menu-menu-user-menu {
  float: right;
}

#region-menu .block-menu-user-menu .block-inner {
  margin: 0;
}

#region-menu .block-menu.block-menu-user-menu ul.menu li a {
  padding: 0;
  text-align: right;
}

.zone-menu .block-menu {
  padding: 0;
  margin-left: 12px;
}

#region-menu .block-menu ul.menu li a {
  background-color: #fff;
  border: none;
  color: #808080;
  display: block;
  font-family: "manksansregular", sans-serif, Sans;
  font-weight: normal;
  padding: 0 30px;
  font-size: 17px;
  text-decoration: none;
  text-transform: lowercase;
}

#region-menu .block-menu ul.menu li {
  font-size: initial;
  width: auto;
  margin: 20px 0;
}

#region-menu .block-menu ul.menu li a.active,
#region-menu .block-menu ul.menu li a:hover {
  background-color: white;
  border: none;
  color: #000;
}

.zone-shopmenu {
  margin-top: 27px;
}

.zone-shopmenu h2 {
  margin-bottom: 0;
  margin-top: -10px;
}

.zone-shopmenu .region-shopmenu {
  margin: 0 !important;
  width: 100% !important;
}

.page-user ul.tabs.primary,
#region-shopmenu .block-menu ul.menu {
  display: table;
  width: 100%;
}

.page-user ul.tabs.primary {
  margin: 0;
}

.page-user ul.tabs.primary li,
#region-shopmenu .block-menu ul.menu li {
  display: inline-block;
  margin: 0;
  padding: 0.1%;
  text-align: center;

}

#region-shopmenu .block-menu ul.menu li {
  width: 14.088541%;
}

.page-user ul.tabs.primary li a,
#region-shopmenu .block-menu ul.menu li a {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #808080;
  display: block;
  font-family: "manksansregular", sans-serif, Sans;
  padding: 4px 0;
  text-decoration: none;
  text-transform: lowercase;
}

.page-user ul.tabs.primary li  a{
  padding: 4px 20px;
}

.page-user ul.tabs.primary li a.active,
.page-user ul.tabs.primary li a:hover,
#region-shopmenu .block-menu ul.menu li a.active,
#region-shopmenu .block-menu ul.menu li a:hover {
  background-color: white;
  border-color: #fce8df;
  color: #000;
}

.page-user .tabs ul.primary {
  border-bottom: none;
  border-top: none;
  margin: none;
}

.section-content {
  margin-top: 10px;
}

.section-footer {
  background-color: white;
  margin-top: 70px;
  margin-bottom: 50px;
}

.section-footer a {
  color: #ffa483;
}

.page-user .block-system-main {
  margin: 0;
}

.node-type-store-page .field-name-field-store-page-images {
  margin-top: 15px;
}

.node-type-store-page .field-slideshow-wrapper {
  position: relative;
  display: block;
  overflow: auto;
}

.node-type-store-page .field-slideshow-controls {
  position: absolute;
  width: 47.5%;
  z-index: 10;
  padding: 0 1%;
  top: 50%;
  margin-top: -20px;
}

.node-type-store-page .field-slideshow-controls a.prev {
  float: left;
  text-indent: -999px;
  background: url('../images/arrow-left.png') no-repeat;
  background-size: contain;
  width: 15%;
  height: 15%;
}

.node-type-store-page .field-slideshow-controls a.next {
  float: right;
  text-indent: -999px;
  background: url('../images/arrow-right.png') no-repeat;
  background-size: contain;
  width: 5%;
  height: 15%;
}

.node-type-store-page .field-slideshow {
  float: left;
  width: 49.5% !important;
  margin: 0;
  padding: 0;
}

.node-type-store-page .field-slideshow-slide {
  //padding: 2px;
}

.node-type-store-page .item-list {
  float: right;
  width: 50%;
  margin: 0;
  padding: 0;
}

.node-type-store-page .item-list li {
  float: right;
  width: 49%;
  margin: 0;
  padding: 0 0 1.5% 1%;
}

.node-type-store-page .item-list li.activeSlide {
  display: none;
}

.page-nieuws .field-name-field-news-item-image {
  float: left;
  padding: 10px 10px 10px 0;
}

.page-nieuws .field-name-body {
  padding: 10px 0;
}

.page-nieuws .node {
  border: 1px solid #E0E3E6;
  display: block;
  margin: 15px 0px;
  padding: 10px 15px;
  width: auto;
}

.block-block-4 {
  float: left;
}

 .zone-shopmenu .block-shopping-cart-block {
  float: right;
  margin: 0 0 18px 0;
}

/* SHopping cart block */
.block-shopping-cart-block .content {
  background-color: #ffffff;
  background-image: none;
  margin: 0;
  padding: 0;
}
.block-shopping-cart-block .content p {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  width: 137px;
  padding-left: 5px;
  height: 27px;
}
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary .line-item-quantity {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  width: 137px;
  padding-left: 5px;
  height: 27px;
  text-align: left;
  color: black;
  font-style: italic;
}
.block-shopping-cart-block .content .view-shopping-cart .view-empty p {
  font-family: Georgia, "Times New Roman", Serif;
  font-size: 15px;
  font-weight: 800;
}
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary .line-item-total {
  font-family: Georgia, "Times New Roman", Serif;
  font-size: 16px;
  font-weight: 800;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  height: 27px;
  margin-right: 2px;
  width: 110px;
}
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links {
  background-color: #f6af8e;
  width: 135px;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 29px;
}
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links li a {
  font-family: "manksansregular", sans-serif, Sans;
  color: white;
  font-size: 16px;
  font-weight: normal;
}

#views-form-commerce-cart-form-default table td,
#commerce-checkout-form-checkout .view-commerce-cart-summary table td,
#commerce-checkout-form-review .view-commerce-cart-summary table td,
.page-user-orders .view-commerce-line-item-table table td,
.view-commerce-backoffice-user-orders table td {
  background-color: transparent;
  margin: 0;
  padding: 25px 0px;
  font-family: Georgia, "Times New Roman", Serif;
  font-size: 15px;
  line-height: 120%;
  color: #808080;
  text-align: right;
  text-transform: lowercase;
  font-weight: normal;
  font-style: italic;
}

#views-form-commerce-cart-form-default table th,
#commerce-checkout-form-checkout .view-commerce-cart-summary table th,
#commerce-checkout-form-review .view-commerce-cart-summary table th,
.page-user-orders .view-commerce-line-item-table table th,
.view-commerce-backoffice-user-orders table th {
  margin-bottom: 0;
  font-family: Georgia, "Times New Roman", Serif;
  font-size: 15px;
  line-height: 120%;
  color: #808080;
  text-align: right;
  text-transform: lowercase;
  font-weight: normal;
  font-style: italic;
  padding: 0
}

#views-form-commerce-cart-form-default table th.items,
#commerce-checkout-form-checkout .view-commerce-cart-summary table th.items,
#commerce-checkout-form-review .view-commerce-cart-summary table th.items,
.page-user-orders .view-commerce-line-item-table table th.items,
.view-commerce-backoffice-user-orders table th.items {
  text-align: left;
  padding: 0;
}

#views-form-commerce-cart-form-default table td,
#commerce-checkout-form-checkout .view-commerce-cart-summary table td,
#commerce-checkout-form-review .view-commerce-cart-summary table td,
.page-user-orders .view-commerce-line-item-table table td,
.view-commerce-backoffice-user-orders table td {
  text-align: right;
}

#views-form-commerce-cart-form-default table td.items,
#commerce-checkout-form-checkout .view-commerce-cart-summary table td.items,
#commerce-checkout-form-review .view-commerce-cart-summary table td.items,
.page-user-orders .view-commerce-line-item-table table td.items,
.view-commerce-backoffice-user-orders table td.items {
  text-align: left;
  color: #000;
}

/* product list */
.page-products .view-display-products li.views-row,
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li.views-row {
  border: 1px solid #ddd;
  display: inline;
  float: left;
  min-height: initial;
  height: 311px;
  width: 311px;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-bottom: 0;
  padding-right: 0;
}
.page-products .view-display-products li.views-row:hover,
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li.views-row:hover {
  border: 1px solid #fce8df;
}
.view-collection-taxonomy-term li:nth-child(3n),
.page-products .view-display-products li:nth-child(3n) {
  padding-right: 0;
  margin-right: 0;
}
.view-collection-taxonomy-term li .node-product-display,
.page-products .view-display-products li .node-product-display {
  position: relative;
  height: 311px;
}
.page-products .view-display-products li .commerce-product-field {
	margin-bottom: 0;
}
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li header h2 a ,
.page-products .view-display-products li header a {
	font-size: 14px;
	line-height: 16px;
	font-family: "manksansregular", sans-serif, Sans;
	font-style: normal;
	color: #808080;
}
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li .commerce-product-field
.page-products .view-display-products li .node-product-display .field-field-images {
  position: absolute;
  top: 0;
  left: 0;
}
.view-collection-taxonomy-term li .node-product-display .field-name-addtoany,
.page-products .view-display-products li .node-product-display .field-name-addtoany {
  position: absolute;
  top: 12px;
  right: 12px;
}
.view-collection-taxonomy-term li .node-product-display .group-title-supplier,
.page-products .view-display-products li .node-product-display .group-title-supplier {
  position: absolute;
  bottom: 0;
  padding: 12px
}
.page-products .view-display-products li header,
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li header  {
  background: none;
  float: left;
  padding-top: 0;
}
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li.views-row h2,
.page-products .view-display-products li header h2 {
  padding: 0;
  height: auto;
}
.view-collection-taxonomy-term li .node-product-display .group-title-supplier .field-name-field-product-supplier,
.page-products .view-display-products li .node-product-display .group-title-supplier .field-name-field-product-supplier {
  float: left;
}
.view-collection-taxonomy-term li .node-product-display .group-title-supplier .field-name-field-product-supplier .field-item,
.page-products .view-display-products li .node-product-display .group-title-supplier .field-name-field-product-supplier .field-item {
   line-height: 16px;
   font-style: italic;
}
.view-collection-taxonomy-term li .node-product-display .group-title-supplier .field-name-field-product-supplier .field-item a,
.page-products .view-display-products li .node-product-display .group-title-supplier .field-name-field-product-supplier .field-item a {
  font-size: 13px;
  line-height: 16px;
  font-family:  Georgia, "Times New Roman", Serif;
}
.view-collection-taxonomy-term li .node-product-display .group-title-supplier .field-name-field-product-supplier .field-item a::before,
.page-products .view-display-products li .node-product-display .group-title-supplier .field-name-field-product-supplier .field-item a::before {
   content: " - ";
}
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li .field-type-commerce-price,
.page-products .view-display-products li .node-product-display .commerce-product-field-commerce-price {
  position: absolute;
  bottom: 12px;
  right: 10px;
}
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li .field-type-commerce-price,
.page-products .view-display-products li .node-product-display .field-name-commerce-price {
  margin-bottom: 0;
  font-family: "manksansregular", sans-serif, Sans;
  color: #808080;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.view-collection-taxonomy-term .view-content .item-list h3 {
  display: none;
}

/* Share buttons */
.addtoany_list a span.a2a_img {
  height: 21px;
  line-height: 21px;
  width: 21px;
  background: url(../images/share_btns.png) left top no-repeat;
}
.addtoany_list a .a2a_i_pinterest {
  background-position: 0 0 !important;
}
.addtoany_list a .a2a_i_facebook {
  background-position: -29px 0 !important;
}
.addtoany_list a .a2a_i_twitter {
  background-position: -58px 0 !important;
}
.addtoany_list a .a2a_i_google_plus {
  background-position: -87px 0 !important;
}
.addtoany_list a:hover span {
  opacity: 1;
  background-position-y: -24px !important;
}

/* Buttons */
.page-user a.login-register,
.page-user a.login-account,
.page-checkout a.login-register,
.page-checkout a.login-account {
  background: #ffa483;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffa483), color-stop(1, #ffa483));
  background: -moz-linear-gradient(top center, #ffa483 0%, #ffa483 100%);
  border-radius: 0px;
  box-shadow: none;
}

.page-user #user-register-form .form-submit,
.page-user #user-profile-form .form-submit,
.page-user #user_login_form .form-submit,
.page-user #user_pass_form .form-submit,
.page-checkout #user-register-form .form-submit,
.page-checkout #user-profile-form .form-submit,
.page-checkout #user_login_form .form-submit,
.page-checkout #user_pass_form .form-submit {
  background: #ffa483;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffa483), color-stop(1, #ffa483));
  background: -moz-linear-gradient(top center, #ffa483 0%, #ffa483 100%);
  border-radius: 0px;
  box-shadow: none;
}

.page-user form#user-login #user_login_form .login-password,
.page-checkout form#user-login #user_login_form .login-password {
  color: #ffa483;
  border-radius: 0px;
  box-shadow: none;
}

.page-checkout .checkout-buttons input#edit-continue,
.page-checkout .checkout-buttons input.checkout-continue {
  background: #ffa483 none 0 0 no-repeat;
  border-radius: 0px;
  box-shadow: none;
}

.page-cart #views-form-commerce-cart-form-default .commerce-line-item-actions input#edit-checkout {
  background: #ffa483 none 0 0 no-repeat;
  border-radius: 0px;
  box-shadow: none;
}

.page-user #user-register-form .form-submit:hover,
.page-user #user-profile-form .form-submit:hover,
.page-user #user_login_form .form-submit:hover,
.page-user #user_pass_form .form-submit:hover,
.page-checkout #user-register-form .form-submit:hover,
.page-checkout #user-profile-form .form-submit:hover,
.page-checkout #user_login_form .form-submit:hover,
.page-checkout #user_pass_form .form-submit:hover {
  background: #ffa483;
}

.page-user a.login-register:hover,
.page-user a.login-account:hover,
.page-checkout a.login-register:hover,
.page-checkout a.login-account:hover {
  background: #ffa483;
}

